*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eceaeadc;
  font-family: 'Roboto Condensed', sans-serif;
  height: 1000px;
  padding-top: 130px;
}

.header{
  background-color: #48bf53;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px 10px;
}

.topHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left{
  width: 20%;
}

.left p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.middle{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.middle input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
}

.middle button{
  height: 30px;
  width: 70px;
  border: none;
  background-color: #167e79;
  color: #ffffff;
  border-radius: 5px;
}

.right{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.right a{
  text-decoration: none;
  color: #ffffff;
}

.bottomHeader{
  display: flex;
  justify-content: space-evenly;
}

.bottomHeader a{
  color: #ffffff;
  text-decoration: none;
}

.Header{
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 200px;
  background-image: url('HTML-IMAGES/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}

.imageHeader{
  display: flex;
  align-items: center;
  height: 30px;
}

.imageHeader h1{
  color: #ffffff;
  display: flex;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 30px;
}

.aboutContent{
  background-color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

footer{
  background-color: #48bf53;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.topFooter{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.topFooter p{
  color: #ffffff;
  font-size: 14px;
}

.bottomFooter{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottomFooter p{
  color: #ffffff;
}

.bottomFooter{
  color: #ffffff;
}
