*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eceaeadc;
  font-family: 'Roboto Condensed', sans-serif;
  height: 1000px;
  padding-top: 130px;
}

.header{
  background-color: #48bf53;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px 10px;
}

.topHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left{
  width: 20%;
}

.left p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.middle{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.middle input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
}

.middle button{
  height: 30px;
  width: 70px;
  border: none;
  background-color: #167e79;
  color: #ffffff;
  border-radius: 5px;
}

.right{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.right a{
  text-decoration: none;
  color: #ffffff;
}

.bottomHeader{
  display: flex;
  justify-content: space-evenly;
}

.bottomHeader a{
  color: #ffffff;
  text-decoration: none;
}

.mainContainer{
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.box {
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.imagePreview{
  width: 100%;
  height: 40%;
}

.imagePreview img{
  width: 100%;
  height: 100%;
}

.title{
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title h2{
  color: #48bf53;
  font-size: 24px;
}

.description{
  display: flex;
  flex: 1;
  padding: 10px;
}

.description p{
  font-size: 14px;
  color: #000000;
}

footer{
  background-color: #48bf53;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.topFooter{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.topFooter p{
  color: #ffffff;
  font-size: 14px;
}

.bottomFooter{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottomFooter p{
  color: #ffffff;
}

.bottomFooter{
  color: #ffffff;
}


/* Large screens */
@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Medium screens */
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2S, 1fr);
  }
}

/* Small and extra small screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}